@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}

/* El estilo base para moviles */
body {
    background-color: #112935;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;/*Se añade margen izquierdo para dejar espacio entre el logo y el borde de pantalla*/
    margin-right: 5%;/*Se añade margen derecho para dejar espacio entre el menu y el borde de pantalla*/
  
}


.src-only {
    display: none;
}

.hide-mobile {
    display: none;
}

text{
    font-family: 'Montserrat', sans-serif;
}

p{/*Modificacion de parrafos*/
    font-size: 0.75em;
    padding: 0;
    line-height: 25px;
}

.logo { /*Cambio de ancho y margenes del logo*/
    width: 80px;
    margin: 2em 1em;
    font-family: 'Montserrat', sans-serif;
}

.options {
    color: inherit;
    text-decoration: none;
    position: relative;
    top: 30%;
    right: 95%;
    font-size: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}
.options i:last-child {
    font-size: 1.6rem;
}

/* Big area */
.big-hero img {
    width: 150px;
    margin-top: 2em; /*Se añade espacio para que la imagen de Nestor se separe mas del header*/
}
.big hero .container{/*Se da un margen bottom para que el big hero se espacie de la siguiente seccion*/
    margin-bottom: 5em;
}


.big-hero h2 {
    font-size: 1.875em;
    font-weight: 900;/*Cambio del weight del titulo*/
    letter-spacing: 0.002em;
    margin-top: 1.5em ;/*Se separa de la iamgen mediante un margen*/
}

.big-hero p {
    width: 90%;/* Hace que la descripcion se mueva y se haga responsive, ademas le da un ancho del 90% del ancho de pantalla*/
    font-size: 1em;
    color: #D7DEE6;
    margin: 0 auto;
    margin-bottom: 0;/*Margen de 0 para que los logos de social suban un poco*/

}

/* Social links*/
.social-links{ /*Usado para darle formato a las imagenos de redes sociales*/
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 5em; /* Separar la seccion de los logos de la seccion de color verde*/ 
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.social-links li a{ /* Modifica los tags a que estan dentro del dov social-links */
    color: #D7DEE6;
    text-decoration: none;
    font-size: 2.5em;
    margin: 0px 0.50em; /*Añadido margen izquierda y derecha para separar logos*/
}

.social-links li a i{ /*Añadido para cambiar tamaño de los logos*/
    font-size: 2em;
}


.green-area { /*Asiga color de fondo a la seccion de publicaciones*/
    background-color: #0AC693; 
}


.post { /*Mover el post de posicion jugando con margenes y padding */
    padding: 1em;
    margin: 0 auto;
    margin-bottom: 2px;
    width: 100%;
}
.post h2 { /*Hacer el texto en mayusculas cambiarle tamaño y weight */
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 1em;
}

.post ul {
    display: flex;/*Se agregar flex, y direccion column para centrar los articulos*/
    flex-direction: column;
    list-style: none; 
    align-items: center;/*Alinear los items(la lista) al centro*/
    margin: 0 auto;
    margin-top: 2em;/*Margen entre h2 publicaciones y sus articulos*/
    margin-bottom: 0;
    
}


.post ul li {/*Darles un valor de altura maxima a la lista y centrar su contenido*/
    min-height: 300px;
    max-width: 350px;
    padding:0 0;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1em;
    
}

.post ul li article { /*Hacer su contorno redondeado y darle color  */
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;
    padding-bottom: 2em;
}

.post article img{/*darle tamaño a la imagen y hacerla cover para que se ajuste al espacio de cada articulo */
    
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.post article h3 { /*CAmbiar tamaño de los titulos de cada articulo y hacer que sean hidden */
    max-width: 283px;
    color: #0D5061;
    margin-top: 1em; /*Margen reducido para que pegue con la imagen*/
    padding: 0em 1rem;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post article p {/*Se le cambia el tamaño entre lineas al parrafo de cada articulo asi como su color*/
    color:#112935;
    font-size: 0.75em;
    padding: 1rem;
    line-height: 15px;
    padding-bottom: 0;/*PAdding de 0 para reducir el espacio en blanco en cada articulo*/
    
}

/* About */

.about{ /*Hacer que la seccion about baje al darle margen top*/
    margin-top: 2em;
}

.about h2 {/*Texto tranformado a mayusculas y se cambia su tamaño*/
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 2em;
}

.bio-info img{
   width: 100px; /*Se reduce tamaño de la imagen(Logo A) de la seccion acerca*/
}

.bio-info p{
    font-size: 16px;
    padding: 2em;
    text-align: left;
    line-height: 20px;/*Cambio de espacio entre lineas*/
    letter-spacing: 2px;
    margin:0 0.5em;/*Margen para centrar el parrafo*/
}

.contact { /*se hace flex el container de contacto*/
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 1em;
    margin-bottom: 4em; /* se agrega un margen para la parte de abajo */
}
.contact label{
    font-weight: bold;/*Cambiando el weight de los labels*/
}
.contact * + * {
    margin-top: 1.5em;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin: 0 1.5em;/*Se agrega margen al container de formulario*/
}

.contact-form input, .contact-form textarea{ /*Se modifica el textarea cambiando sus propiedades*/
    padding: 1rem 2rem;
    border: none;
    border-radius: 0px 2em;
    font-size: 1em;
    width: 100%;
}

/* Decorando placeholder */

::-webkit-input-placeholder { 
    color: #D7DEE6; 
} 
 
:-moz-placeholder { /* Firefox 18- */ color: #D7DEE6; } 
 
::-moz-placeholder { /* Firefox 19+ */ color: #D7DEE6; } 
 
:-ms-input-placeholder { color: #D7DEE6; }

.contact-form input[type=submit] {
    background-color: #F74442;
    font-weight: 400;
    color: white;
    font-size: 1rem;
}

.black-decoration{
    background-image: url("../images/decoracion_oscura_small.svg");
}

footer{
    background-color: #0D5061;
    color:#D7DEE6;
    padding-bottom: 1em;/*Se le añade padding bottom para subir el nivel de los derechos de autor*/
}

footer .social-links {
    margin: 0;
}

footer

.menu { /*Se modifica el menu*/
    background-color: #112935;/*Cambio de color de fondo*/
    position: absolute;
    z-index: 20;
    top: 60px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}

.menu {
    list-style: none;
    text-align: left;
    padding: 1em;
}
.menu li {
    display: block;
    padding: 0.5em;
    margin-top: 5px;
}

.menu li a {
    color: white;
    text-decoration: none;
    
}



/* Pesonalizando estilo para tablets*/
@media only screen and (min-width: 768px) {
  
    .post ul {/*Se hace el container flex con propiedades wrap*/
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-top:0; /*Se reduce el margen top usado en pantallas de moviles*/
        justify-content: left;/*Hace que en el wrap cada elemento se justifique a la izquierda*/
    }
    
    .post ul li { /*Se le asigma altura maxima a la lista de articulos y se les da un margen*/
        min-height: 350px;
        max-height: 3500px;
        margin: 1rem 2rem;
        flex: 1 0 300px;
    }

    .post ul li article {/*Se crea esta seccion para darle un ancho fijo de 300px a cada articulo dentro del flex wrap*/
        width: 300px;
        
    }


    .logo { /*Modificacion del Logo*/
        width: 150px;
        margin: 1.5em;
    }

    .show-desktop {
        display: block;
    }

    .hide-desktop {
        display: none;
    }

    .menu {
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;
        margin-top: 0.8em;/*Modificacion de la altura del menu mediante margenes*/
    }

    .menu li{/*Dandole margin a los a del menu*/
        margin-left: -0.2em;
        margin-right: -0.2em;
    }

    .menu li a{ /*Añadido tamaño de letra al menu y weight*/
        font-size: 1em;
        font-weight: 500;
    }

    .menu li a:hover{/*Añadido efecto hover para los tags "a" para color rojo*/
        color:red;
    }

    .social-links{/*Margen de distancia entre los iconos de social-links y la flecha*/
        margin-bottom: 2em;
    }

    .hide-mobile .show-desktop{
        margin-bottom: 0;
    }

    .fa-arrow-circle-down{ /*Cambiar tamaño del icono flecha, y su posicion usando margenes*/
        color:#0AC693;/*Cambio de color para que sea igual al de seccion de publicaciones*/
        font-size: 5em;
        margin-bottom: 1em;
    }

    .post{ /*el cointainer post se hace flex para manejo de sus elementos*/
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin-bottom: 0;
    }

    .post ul{ /*Se cambia el ul a flex row, asi los articulos se mueven de la forma adecuada para una pantalla de ese tamaño(tablets)*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 1em;
        margin-bottom: 2em;
        justify-content: left;
        align-items: center;
        
    }

    .post ul li { /*Se modifica la lista de articulos y se pone en display flex para que tome la visualizacion deseada*/
        display: flex;
        flex-direction: row;
        margin: 2rem 0; 
        margin-bottom: 0;
        justify-content: center;
    }

    .post ul li article{
        width: 250px;
    }
    /*La forma del acerca y el formulario los deje de esa forma debido a que en una pantalla de tableta es mas facil su visualizacion, debido al poco tamaño de su pantalla*/
} 

@media only screen and (min-width: 1024px) {

    .header { /*Se modifica el header para crear margenes a ambos lados y que estos coincidan con los mostrados en el ejemplo*/
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        margin-left: 8%;
        margin-right: 5%;
    }

    .logo {/*Modificacion de la posicion y tamaño del logo*/
        width: 150px;
        margin: 1.6em 0;
    }

    .menu{/*Se modifica el margen, para que el menu quede en una pocision como la del ejemplo*/
        font-size: 1em;
        margin-top: .8em;
    }

    .menu li a{/*Se cambia de tamaño las referencias dentro del menu*/
        font-size: 1.15em;
        font-weight: 500;
    }

    .menu li a:hover{/*Añadido efecto hover para los tags "a" para color rojo*/
        color:red;
    }

    .big-hero{/*Se cambia la altura del div big-hero para que sea como el ejemplo*/
        margin-top: 2em; /*Margin 2 para bajar el big hero*/
        height: 80vh;
    }

    .big-hero img{ /*Agrandado de tamaño de la imagen de Nestor*/
        width: 200px;
    }

    .fa-arrow-circle-down{ /*Se remueve el margen de abajo del i (Flecha)*/
        margin-bottom: 0em;
    }

    .post{ /* Se ajusta el tamaño del post*/
        height: 100%;
    }

    .post ul{ /*Se hace que el ul sea flex y se le da un margen*/
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;  /*Para dejar igual espacio entre cada articulo*/
        align-content: center;
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .post ul li{ /*Se les da margen a los elementos de la lista*/
        margin: 1rem 0rem;
        margin-bottom: 2em;
    }

    .post ul li article{ /*Se define el ancho de cada articulo*/
        width: 250px;
        margin: 0 0;
        padding-right: 0em;
    }

    .about .container{ /*Se crea el grid para la seccion about*/
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 1fr;
        margin-top: -3em;/*Se manejan margenes para lograr la imagen deseada*/
        margin-bottom: -2em;/*Se manejan margenes para lograr la imagen deseada*/
    }
    
    .bio-info{ /*Se asigna lugar en el grid al div bio-info*/
        height: 100%;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .bio-info img{ /*Se cambia el tamaño del Logo A*/
        width: 175px;
    }

    .contact{ /*Se asigna lugar en el grid al div contact*/
        grid-column: 2/3;
        grid-row: 2/3;
    }
   
    .about h2{ /*Se asigna lugar en el grid al h2(subtitulo de la seccion)*/
        grid-column: 1/3;
        grid-row: 1/2; 
    }

    textarea{ /*Se reduce el tamaño del textarea*/
        height: 150px;
    }

    .contact-form input[type=submit] { /*Se le cambia el ancho al boton contactar del formulario*/
        width: 45%;
    }

}

@media only screen and (min-width: 1440px) {

    .header{ /*Se modifica el header*/
        width: 95%;
        margin-left: 2em;
    }
    
    .container {
        width: 90%; /*Se modifica el width para mover los bordes del header*/
        margin: 0 auto;
        max-width: 1440px;
    }
    .post ul{ /*Se hace que el ul sea flex y se le da un margen*/
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;  /*Para dejar igual espacio entre cada articulo*/
        align-content: center;
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .menu li a{/*Cambio d etamaño del menu para ajustarse a esta resolucion*/
        font-size: 1.5em;
    }

    .menu li a:hover{/*Añadido efecto hover para los tags "a" para color rojo*/
        color:red;
    }

}